body {
    font-family: Arial, sans-serif;
    text-align: center;
}

.container {
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

h2 {
    margin-bottom: 10px;
}

select, button {
    display: block;
    margin: 10px auto;
}

#tablaResultado {
    text-align: left;
}
