body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #78c7dd;
    margin: 0;
    padding: 0;
}

h1 {
    background-color: #333;
    color: white;
    padding: 20px 0;
}

#infoPais {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#infoPais > div {
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgb(105, 214, 200);
    margin: 10px;
    padding: 20px;
    width: 300px;
    text-align: left;
}

#infoPais p {
    margin: 0;
}
